body {
    background-color: rgb(105, 97, 97);
  }

h2{
    text-align: center;
}

h1{
    font-size:3em;
    color: rgb(3, 84, 3);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

  #differentes_manieres img{
    width: 23em;
    height: 21em;
    margin: 20px auto;
    border: rgb(42, 70, 70) solid 2px;
    display: block;
    margin-top: 1.5em;
}

#differentes_manieres p{
    font-size: 2em;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 3em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#menu{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }


header {
    background-color: #897c7c;
    padding: 2em;
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1em;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    font-weight: bold;
}

nav a:hover {
    color: rgb(22, 54, 22);
}



footer {
    background-color: #897c7c;
    padding: 20px 0;
  }
  
  .container {
    width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1 0 30%;
    margin-bottom: 20px;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-bottom: 5px;
  }
  
  ul li a {
    color: #333;
    text-decoration: none;
  }
  
  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
  }